[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "miro_api"
version = "2.2.4"
description = "Miro API client"
authors = ["Josip Janzic <josip@miro.com>"]
readme = "README.md"
packages = [{include = "miro_api"}]

[tool.poetry.dependencies]
python = ">=3.9"
urllib3 = "^1"
python-dateutil = "^2.9.0.post0"
pydantic = "^2.6.4"

[tool.poetry.group.dev.dependencies]
twine = "^5.0.0"


[tool.poetry.group.example.dependencies]
flask = "^3.0.3"


[tool.poetry.group.docs.dependencies]
pdoc = "^14.4.0"

[project.urls]
Homepage = "https://github.com/miroapp/api-clients"
Issues = "https://github.com/miroapp/api-clients/issues"

[tool.black]
target-version = ["py39", "py310", "py311"]
line-length = 120
