{
  "openapi": "3.0.1",
  "info": {
    "description": "Miro API",
    "title": "Miro API",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.miro.com/"
    }
  ],
  "paths": {
    "/v1/oauth/revoke": {
      "post": {
        "summary": "Revoke token",
        "description": "Revoke the current access token. Revoking an access token means that the access token will no longer work. When an access token is revoked, the refresh token is also revoked and no longer valid. This does not uninstall the application for the user.",
        "operationId": "revoke-token",
        "parameters": [
          {
            "description": "Access token that you want to revoke",
            "in": "query",
            "name": "access_token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "400": {
            "description": "Failed to revoke token"
          }
        }
      }
    },
    "/v2/boards": {
      "post": {
        "description": "Creates a board with the specified name and sharing policies.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 3</a><br/>",
        "operationId": "create-board",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardChanges"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardWithLinks"
                }
              }
            },
            "description": "Board created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Create board",
        "tags": ["boards"]
      },
      "get": {
        "description": "Retrieves a list of boards that match the search criteria provided in the request. If you are an Enterprise customer and a Company Admin, you can retrieve all boards, including all private boards (boards that haven't been specifically shared with you) by enabling Content Admin permissions. To enable Content Admin permissions, see https://help.miro.com/hc/en-us/articles/360012777280-Content-Admin-permissions-for-Company-Admins. Note that you only get results instantaneously when you filter by `team_id`. If you use any other filter,  you need to give a few seconds for the indexing of newly created boards before retrieving boards.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 1</a><br/>",
        "operationId": "get-boards",
        "parameters": [
          {
            "in": "query",
            "name": "team_id",
            "schema": {
              "type": "string",
              "description": "The team_id for which you want to retrieve the list of boards. If this parameter is sent in the request, the `query` and `owner` parameters are ignored."
            }
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "maxLength": 500,
              "type": "string",
              "description": "Retrieves a list of boards that contain the query string provided in the board content or board name. For example, if you want to retrieve a list of boards that contain the word `beta` within the board itself (board content), add `beta` as the `query` parameter value. You can use the `query` parameter with the owner parameter to narrow down the board search results."
            }
          },
          {
            "in": "query",
            "name": "owner",
            "schema": {
              "type": "string",
              "description": "Retrieves a list of boards that belong to a specific owner ID. You must pass the owner ID (for example, 3074457353169356300), not the owner name. You can use the 'owner' parameter with the `query` parameter to narrow down the board search results. Note that if you pass the `team_id` in the same request, the `owner` parameter is ignored."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "string",
              "description": "The maximum number of boards to retrieve.\nDefault: `20`"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string",
              "description": "The (zero-based) offset of the first item in the collection to return.\nDefault: `0`."
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "description": "Sort order in which you want to view the result set. Options `last_created` and `alphabetically` are applicable only when you search for boards by team.\n* `default` - If `team_id` is present, `last_created`. Otherwise, `last_opened`.\n* `last_modified` - sort by the date and time when the board was last modified.\n* `last_opened` - sort by the date and time when the board was last opened.\n* `last_created` - sort by the date and time when the board was created.\n* `alphabetically` - sort by the board name (alphabetically).",
              "default": "default",
              "enum": ["default", "last_modified", "last_opened", "last_created", "alphabetically"]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardsPagedResponse"
                }
              }
            },
            "description": "Board search results."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Get boards",
        "tags": ["boards"]
      },
      "put": {
        "description": "Creates a copy of an existing board. You can also update the name, description, sharing policy, and permissions policy for the new board in the request body.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 4</a><br/>",
        "operationId": "copy-board",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) that you want to copy.",
            "in": "query",
            "name": "copy_from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardChanges"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardWithLinks"
                }
              }
            },
            "description": "Board copied"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Copy board",
        "tags": ["boards"]
      }
    },
    "/v2/boards/{board_id}": {
      "get": {
        "description": "Retrieves information about a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 1</a><br/>",
        "operationId": "get-specific-board",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) that you want to retrieve.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardWithLinks"
                }
              }
            },
            "description": "Board retrieved"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Get specific board",
        "tags": ["boards"]
      },
      "patch": {
        "operationId": "update-board",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) that you want to update.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardChanges"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardWithLinks"
                }
              }
            },
            "description": "Board updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Update board",
        "tags": ["boards"]
      },
      "delete": {
        "operationId": "delete-board",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) that you want to delete.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Board deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Delete board",
        "tags": ["boards"]
      }
    },
    "/v2/boards/{board_id}/app_cards": {
      "post": {
        "description": "Adds an app card item to a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 2</a><br/>",
        "operationId": "create-app-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) where you want to create the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCardCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCardItem"
                }
              }
            },
            "description": "App card item created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Create app card item",
        "tags": ["app_cards"]
      }
    },
    "/v2/boards/{board_id}/app_cards/{item_id}": {
      "get": {
        "description": "Retrieves information for a specific app card item on a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 1</a><br/>",
        "operationId": "get-app-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) from which you want to retrieve a specific item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to retrieve.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCardItem"
                }
              }
            },
            "description": "App card item retrieved"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Get app card item",
        "tags": ["app_cards"]
      },
      "patch": {
        "description": "Updates an app card item on a board based on the data and style properties provided in the request body.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 2</a><br/>",
        "operationId": "update-app-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) where you want to update the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to update.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCardUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCardItem"
                }
              }
            },
            "description": "Card item updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Update app card item",
        "tags": ["app_cards"]
      },
      "delete": {
        "description": "Deletes an app card item from a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 3</a><br/>",
        "operationId": "delete-app-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) from which you want to delete an item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to delete.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "App card item deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Delete app card item",
        "tags": ["app_cards"]
      }
    },
    "/v2/boards/{board_id}/cards": {
      "post": {
        "description": "Adds a card item to a board<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 2</a><br/>",
        "operationId": "create-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) where you want to create the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardItem"
                }
              }
            },
            "description": "Card item created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Create card item",
        "tags": ["cards"]
      }
    },
    "/v2/boards/{board_id}/cards/{item_id}": {
      "get": {
        "description": "Retrieves information for a specific card item on a board<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 1</a><br/>",
        "operationId": "get-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) from which you want to retrieve a specific item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to retrieve.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardItem"
                }
              }
            },
            "description": "Card item retrieved"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Get card item",
        "tags": ["cards"]
      },
      "patch": {
        "description": "Updates a card item on a board based on the data and style properties provided in the request body.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 2</a><br/>",
        "operationId": "update-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) where you want to update the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to update.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardItem"
                }
              }
            },
            "description": "Card item updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Update card item",
        "tags": ["cards"]
      },
      "delete": {
        "description": "Deletes a card item from the board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 3</a><br/>",
        "operationId": "delete-card-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) from which you want to delete the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to delete.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Card item deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Delete card item",
        "tags": ["cards"]
      }
    },
    "/v2/boards/{board_id}/documents": {
      "post": {
        "description": "Adds a document item to a board by specifying the URL where the document is hosted.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 2</a><br/>",
        "operationId": "create-document-item-using-url",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) where you want to create the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentItem"
                }
              }
            },
            "description": "Document item created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Create document item using URL",
        "tags": ["documents"]
      }
    },
    "/v2/boards/{board_id}/documents/{item_id}": {
      "get": {
        "description": "Retrieves information for a specific document item on a board<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 1</a><br/>",
        "operationId": "get-document-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) from which you want to retrieve a specific item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to retrieve.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentItem"
                }
              }
            },
            "description": "Document item retrieved"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Get document item",
        "tags": ["documents"]
      },
      "patch": {
        "description": "Updates a document item on a board<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 2</a><br/>",
        "operationId": "update-document-item-using-url",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) where you want to update the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to update.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentItem"
                }
              }
            },
            "description": "Document item updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Update document item using URL",
        "tags": ["documents"]
      },
      "delete": {
        "description": "Deletes a document item from the board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 3</a><br/>",
        "operationId": "delete-document-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) from which you want to delete the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to delete.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Document item deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Delete document item",
        "tags": ["documents"]
      }
    },
    "/v2/boards/{board_id}/embeds": {
      "post": {
        "description": "Adds an embed item containing external content to a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 2</a><br/>",
        "operationId": "create-embed-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) where you want to create the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedItem"
                }
              }
            },
            "description": "Embed item created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Malformed request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Not found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error",
                      "example": "Error message"
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status code of the error",
                      "format": "int32",
                      "example": 400
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the error",
                      "example": "error"
                    }
                  },
                  "description": "Test error obj"
                }
              }
            },
            "description": "Too many requests"
          }
        },
        "summary": "Create embed item",
        "tags": ["embeds"]
      }
    },
    "/v2/boards/{board_id}/embeds/{item_id}": {
      "get": {
        "description": "Retrieves information for a specific embed item on a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=https://developers.miro.com/reference/ratelimiting>Level 1</a><br/>",
        "operationId": "get-embed-item",
        "parameters": [
          {
            "description": "[Unique identifier (ID) of the board](https://developers.miro.com/reference/board-model) from which you want to retrieve a specific item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[Unique identifier (ID) of the item](https://developers.miro.com/reference/rest-api-item-model) that you want to retrieve.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedItem"
                }
              }
            },
            "description": "Embed item retrieved"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code of the error",
[...]
