name: Publish @mirohq/miro-api package to npm

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish.yml
      - packages/miro-api/package.json

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - run: yarn
        working-directory: packages/miro-api

      - run: yarn build
        working-directory: packages/miro-api

      # This step will look at version in package.json, compare it to NPM version and
      # if the versions are different it will publish the package
      - id: publish_miro_node
        name: Publish miro-api package to NPM
        uses: JS-DevTools/npm-publish@v3.0.0
        with:
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
          package: packages/miro-api/package.json
