name: Test the client library

on:
  push:
    branches:
      - main

  workflow_dispatch:

  pull_request:
    branches: [ main ]

permissions:
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Run tests
        run: yarn coverage

      - name: Coverage Report as Comment (Clover)
        # Skip the step for PRs from forks, because GitHub doesn't
        # provide `write` permissions for changes from forks
        if: ${{ github.actor != 'dependabot[bot]' && github.repository_owner == 'miroapp' }}
        uses: lucassabreu/comment-coverage-clover@main
        with:
          file: packages/miro-api/coverage/clover.xml

      - name: Test generator
        run: yarn workspace generator run validate_commited

      - name: Test build
        run: yarn && yarn build
        working-directory: packages/miro-api
