name: Test the client library

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      # Speed up subsequent runs with caching
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
              ${{ runner.os }}-

      - name: Install dependencies
        run: yarn

      - name: run tests
        run: yarn coverage

      - name: Report coverage
        uses: danhunsaker/clover-reporter-action@v0.2.17-clover
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          clover-file: ./packages/miro-api/coverage/clover.xml

      - name: test generator
        run: yarn workspace generator run validate_commited

      - name: test build
        run: yarn && yarn build
        working-directory: packages/miro-api
